body {
    font-family: "PT Sans",sans-serif;
    font-size: 14px;
    line-height: 1.7;
    color: #5f5f5f;
    background-color: transparent;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
}